<!-- <app-navbar></app-navbar> -->
<div class="custom-row mt-5 container-fluid">
  <div class="col-sm-6 container jumbotron">
    <div *ngIf="showForget">
      <form #frm="ngForm" (ngSubmit)="result(frm.value)" autocomplete="off">
        <fieldset>
          <legend class="text-center font-weight-bold">Forget Password</legend><br />
          <div class="form-group row">
            <input type="hidden" name="user" ngModel="{{ user }}" />
            <label class="col-sm-4 form-label">Email Id:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="email" #email="ngModel" ngModel pattern="[a-z0-9.%!_]+@[a-z0-9]+\.[a-z]{2,4}"
                required />
            </div>
          </div>
          <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
            <div *ngIf="email.errors?.required">Email is required.</div>
            <div *ngIf="email.errors?.pattern">Email format is incorrect.</div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Security Question:</label>
            <div class="col-sm-8">
              <select class="form-control" name="sque" #sque="ngModel" ngModel required>
                <option value="">Select Security Question</option>
                <option *ngFor="let s of sec_que" [value]="s">{{ s }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Answer:</label>
            <div class="col-sm-8">
              <input type="text" name="sans" class="form-control" #sans="ngModel" placeholder="Enter your security answer"
                ngModel required />
            </div>
          </div>

          <br />
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">Submit</button>&nbsp;
            <button type="button" class="btn btn-primary" routerLink="/">Back</button>
          </div>
        </fieldset>
      </form>
    </div>


    <div *ngIf="showreset">
      <form #frm1="ngForm" (ngSubmit)="resetpass(frm1.value)" autocomplete="off">
        <fieldset>
          <legend class="text-center font-weight-bold">Reset Password</legend><br />
          <div class="form-group row">
            <label class="col-sm-4 form-label">Email Id:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="remail" #remail="ngModel" [ngModel]="email" pattern="[a-z0-9.%!_]+@[a-z0-9]+\.[a-z]{2,4}"
                required />
            </div>
          </div>
          <div *ngIf="remail.invalid && remail.touched" class="alert alert-danger">
            <div *ngIf="remail.errors?.required">Email is required.</div>
            <div *ngIf="remail.errors?.pattern">Email format is incorrect.</div>
          </div>
          <div ngModelGroup="password" #pass="ngModelGroup">
            <div class="form-group row">
              <label class="col-sm-4 form-label">New Password:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="pwd" #pwd="ngModel" ngModel required minlength="6" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label">Confirm New Password:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="cpwd" #cpwd="ngModel" ngModel required />
              </div>
            </div>
            <div *ngIf="(pass.invalid || pass.value?.pwd != pass.value?.cpwd) && pass.touched" class="alert alert-danger">
              <div *ngIf="pass.invalid; else nomatch ">Password should be minimum 6 characters long.</div>
              <ng-template #nomatch>Password and Confirm password does not match.</ng-template>
            </div>
          </div>

          <br />
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" [disabled]="frm1.invalid">Submit</button>&nbsp;
            <button type="button" class="btn btn-primary" routerLink="/">Back</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>